@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
    filter: hue-rotate(0);
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
    filter: hue-rotate(360deg);
  }
}

@keyframes fade-scale-02 {
    0% {
        opacity: 0;
        transform: scale(.2)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@keyframes fade02 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}